@{
    ViewBag.Title = "About Us.";
    ViewBag.Message = "The DMV - Where your information goes to die.";
}
<h1>@ViewBag.Title</h1>

<h1 style="text-align: center">@ViewBag.Message</h1>

<p class="bodyMessage">
</p>