@{
    ViewBag.Title = "Contact Us.";
    ViewBag.Message = "Don't contact us. We don't care about your problems.";
}
<h1>@ViewBag.Title</h1>
<h2>@ViewBag.Message</h2>

<p>
    You have no reason to call the DMV so we won't answer our phones.
</p>

<address>
    <strong>Front Desk:</strong>   <a href="mailto:Fake@FakeDMV.gov">Fake@FakeDMV.gov</a><br />
    <strong>Instructors:</strong> <a href="mailto:AlsoFake@FakeDMV.gov">AlsoFake@FakeDMV.gov</a>
</address>