@{
    ViewBag.Title = "Home Page";
    ViewBag.Message = "Home.";
}

<h1>@ViewBag.Message</h1>


<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<body>
    <div class="container">
        <p class="phrase">
            <h3 style="text-align: center">Welcome to the DMV. Please take a number and step into line. We'll be with you in a few hours.</h3>
        </p>
    </div>
</body>
</html>
