@*@{
    ViewBag.Title = "Register";
}

<h1>Register.</h1>

<h3>Register Below for the DMV.</h3>
<div class="registerForm" style="text-align: center;">
    <div class="form-group">
        <div class="col-md-10">
            Name
            <input type="text" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
</div>*@


@{
    ViewBag.Title = "Home Page";
    ViewBag.Message = "Home.";
}

<h1>@ViewBag.Message</h1>


<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<body>
    <div class="container">
        <p class="phrase">
            <h3 style="text-align: center">Welcome to the DMV. Please take a number and step into line. We'll be with you in a few hours.</h3>
        </p>
    </div>
</body>
</html>
